<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div id="root">
        <div class="container">
            <!-- side_left -->
            <div class="side_left">
                <div class="username">
                    <div class="user_image">
                        <img src="./assets/img/avatar_io.jpg" alt="Immagine utente">
                        <h3>Nome Utente</h3>
                    </div>
                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="desktop_notifications">
                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="text">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="search">
                    <span class="search_icon"><i class="fas fa-search"></i></span>
                    <input type="search" placeholder="Cerca o inizia una nuova chat" @keyup="searchUser" v-model="search">
                </div>
                <div class="users">
                    <div @click="changeUser(i)" v-for="(contact, i) in contacts" class="user" :class="i === activeUser ? 'active' : ''">
                        <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                        <div class="text_user">
                            <h3>{{ contact.name }}</h3>
                            <p>{{ contact.messages[contact.messages.length - 1].text }}</p>
                        </div>
                        <div class="last_date">
                            <p>{{ contact.messages[contact.messages.length - 1].date }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /side_left -->

            <!-- content -->
            <div class="content">
                <div class="user_info">
                    <div class="last_access">
                        <img :src="'./assets/img/avatar' + contacts[activeUser].avatar + '.jpg'" alt>
                        <div class="text_user">
                            <h3>{{ contacts[activeUser].name }}</h3>
                            <span>Ultimo accesso oggi alle</span>
                        </div>
                    </div>
                    <div class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="main_content">
                    <div class="messages">
                        <div class="message" v-for="(message, i) in contacts[activeUser].messages" :class="message.status">
                            <p>{{ message.text }}</p>
                            <div class="date">
                                <p>{{ message.date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="write_text">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage" v-model="text">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>
        dayjs().format("DD/MM/YYYY H:mm:ss");
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>